<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOG</title>
  <style>
    body{text-align: center;}
  </style>
</head>
<body>
  <h1>Blog Project</h1>
  <div>
    <a href="{%url 'new'%}">write blog</a>
  </div>
  <div class="container">
  {% for blog in blogs %}
    <div>
    <h3>{{blog.title}}</h3>
    {{blog.writer}}
    {{blog.summary}} <a href = "{%url 'detail' blog.id %}">...more</a>
    <br>
    </div>
  {% endfor %}
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOG</title>
  <style>
    body{text-align: center;}
  </style>
</head>
<body>
  <h1>목차</h1>
  <div>
    <form action="{% url 'new' %}">
      <input type="submit" value="일기쓰기">
    </form>
  </div>
  <div class="container">
  <br>
  {% for blog in blogs %}
    <div>
    <li><a href = "{%url 'detail' blog.id %}">{{blog.title}}</a></li>
    <br>
    </div>
  {% endfor %}
  <a href = "{%url 'cover'%}">return to cover</a>
</body>
</html>

