{% extends 'base.html' %}
{% block content %}
  <h1>목차</h1>
  <div>
    <form action="{% url 'new' %}">
      <input type="submit" value="일기쓰기">
    </form>
  </div>
  <div class="container">
  <br>
  {% for blog in blogs %}
    <div>
    <li><a href = "{%url 'detail' blog.id %}">{{blog.title}}</a></li>
    <br>
    </div>
  {% endfor %}
  <a href = "{%url 'cover'%}">return to cover</a>
  <br>
  <br>
    {% if blogs.has_previous%}
    <a href="?page=1">처음</a>
    <a href="?page={{blogs.previous_page_number}}">이전</a>
    {% endif %}
    <span>{{blogs.number}}</span>
    <span>of</span>
    <span>{{blogs.paginator.num_pages}}</span>

    {% if blogs.has_next%}
    <a href="?page={{blogs.next_page_number}}">다음</a>
    <a href="?page={{blogs.paginator.num_pages}}">마지막</a>
    {% endif %}

{%endblock %}

